<div class="col-md-2 col-lg-2 px-sm-2 px-0" >
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <ul class="sidebar nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item mt-2">
              <a href="#dashboard" class="nav-link align-middle px-0">
                  <span class="ms-1 d-none d-sm-inline active">Dashboard</span>
              </a>
          </li>
          <li class="mt-2">
              <a href="#products" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <span class="ms-1 d-none d-sm-inline">Products</span>
              </a>
          </li>
          <li class="mt-2">
              <a href="#catagories" class="nav-link px-0 align-middle">
                  <span class="ms-1 d-none d-sm-inline">Categories</span>
              </a>
          </li>
          <li class="mt-2">
              <a href="#orders" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <span class="ms-1 d-none d-sm-inline">Orders</span>
              </a>
          </li>
          <li class="mt-2">
              <a href="#customers" class="nav-link px-0 align-middle">
                  <span class="ms-1 d-none d-sm-inline">Customers</span>
              </a>
          </li>
          <li class="mt-2">
            <a href="#coupen" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline">Coupons</span>
            </a>
        </li>
        <li class="mt-2">
            <a href="#return" data-bs-toggle="collapse"  class="nav-link px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline">Requests</span>
            </a>
        </li>
          <li class="mt-4 align-middle">
            <form action="/logouts" method="get">
                <button class="bg-dark text-light btn" type="submit">Logout</button>
            </form>
          </li>
      </ul>
      <hr>
    </div>
  </div>