/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Center content */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
  }
  
  /* Order Placed animation */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .mb-20 {
    margin-bottom: 5rem;
  }
  
  .relative {
    position: relative;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-veryDarkGray {
    color: #333;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .bg-turquoise {
    background-color: #48bb78;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .mt-5 {
    margin-top: 1rem;
  }
  
  .hover\:bg-teal-300:hover {
    background-color: #4fd1c5;
  }
  
  .transition-all {
    transition-property: all;
    transition-duration: 0.3s;
  }
  
  .mt-10 {
    margin-top: 0.5rem;
  }
  
  .text-darkGray {
    color: #666;
  }
  
  .hover\:text-turquoise:hover {
    color: #48bb78;
  }
  
  .hover\:underline:hover {
    text-decoration: underline;
  }
  
  .text-center {
    text-align: center;
  }
  
  .block {
    display: block;
  }
  
  /* Additional styling */
  h1 {
    margin-top: 1px;
    font-size: 24px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  }
  