@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: #eeeeee;
    font-family: 'Space Grotesk', sans-serif;
}


.spans{
    font-weight: 600;
}

.size span {
    font-size: 11px;
  }
  
  .color span {
    font-size: 11px;
  }
  
  .product-deta {
    margin-right: 70px;
  }
  
  .gift-card:focus {
    box-shadow: none;
  }
  
  .pay-button {
    color: #fff;
  }
  
  .pay-button:hover {
    color: #fff;
  }
  
  .pay-button:focus {
    color: #fff;
    box-shadow: none;
  }
  
  .text-grey {
    color: #a39f9f;
  }
  
  .qty i {
    font-size: 11px;
  }